.calendar-container {
	display: block;
	/* margin-top: 64.5px; */
	width: 100vw;
	margin: 0 auto;
}
.dayOfWeekHeader {
	list-style: none;
	background-color: rgb(0, 4, 61);
	height: 40px;
	margin-top: 0px;
	margin-left: -30px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
}
.dayOfWeekHeader li {
	width: 14.1vw;

	margin-top: 6px;
	color: white;
	font-size: 24px;
	font-weight: 500;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dayOfWeekHeader li:nth-child(1) {
	margin-top: 6px;
	color: white;
	font-size: 24px;
	font-weight: 500;
}
