.eventCalendar-container {
	height: 100vh;
	width: 100vw;
	background-color: white;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	/* overflow-y: hidden; */
	overflow-x: hidden;
}
