@import url(https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css);

.calendarNav {
	height: 70px;
	background-color: rgb(62, 65, 77);
	display: flex;
}

#rightArrow {
	position: absolute;
	left: 130px;
	color: white;
	top: 0;
	margin-top: 20px;
	margin-left: -23px;
	font-size: 30px;
	height: fit-content;
}
#leftArrow {
	position: absolute;
	top: 0;
	left: 0;
	color: white;
	margin-top: 20px;
	margin-left: 24px;
	font-size: 30px;
	height: fit-content;
}
.monthIcon {
	height: 30px;
	width: 30px;
	margin-left: 58px;
	margin-top: 22px;
}
.monthAndYear {
	position: absolute;
	color: white;
	margin-left: 160px;
	font-weight: 700;
	font-size: 26px;
	letter-spacing: 0.2rem;
	margin-top: 17px;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
		Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
	top: 0;
}
.eventBtns {
	order: 2;
	margin-left: auto;
	margin-right: 1vw;
	position: relative;
	display: flex;
	align-items: center;
	width: fit-content;
	margin-top: -2vh;
}
.newBtn {
	margin-top: 21px;
	height: 36px;
	border: 1px solid transparent;
	border-radius: 6px;
	background-color: rgb(2, 9, 105);
	color: white;
	margin-right: 16px;
	padding-left: 10px;
	padding-right: 10px;
}
.moreBtn {
	margin-top: 20px;
	height: 33px;
	border: 1px solid transparent;
	border-radius: 6px;
	padding-left: 10px;
	padding-right: 10px;
	font-weight: 600;
	padding-bottom: 2px;
}
